<% provide(:title, 'Edit') %>

<div class= "panel-heading">
	<h1>Update your profile</h1>
</div>

<div class="panel-body">
	<%= form_for(@user) do |f| %>
	<div class="jumbotron">
		<%= render 'fields', f: f %>
		<div class="form-group">
		   <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
		
		<div class= "form-group">
		  <%= gravatar_for @user %>
   </div>
 		<div class= "form-group">
 			<br>
 			<br>
 			<br>
 			

 			<%= link_to "Edit Avatar", "http://gravatar.com/emails", target: '_blank', class: "btn btn-xs btn-info"%>

 		</div>
	</div>
</div>